# Took orginal tfl open api spec ( https://api.tfl.gov.uk/swagger/docs/v1 ) then
# 1) updated server to https://api.tfl.gov.uk/
# 2) converted from v2 to v3 of openapi spec ( https://converter.swagger.io/ )
# 3) converted from json to yaml ( https://www.json2yaml.com/ )
# 4) updated duplicate operationIds
# 5) updated path/query parameters references
# 6) applied default OpenAPI specification linting rules
# 7) tidy summary/description via python script, then run through openapi-format ( https://github.com/thim81/openapi-format )
# 8) removed v from version number
#
# update by Mark Sivill Jan 2023
#
openapi: 3.0.1
info:
  contact:
    name: Mark Sivill - Kong
  description: Transport for London Unified API
  title: Transport for London
  version: '1.5'
servers:
  - url: 'https://api.tfl.gov.uk'
paths:
  '/AccidentStats/{year}':
    get:
      operationId: AccidentStats_Get
      summary: Gets all accident details by year
      description: Gets all accident details for accidents occuring in the specified year
      parameters:
        - name: year
          in: path
          description: The year for which to filter the accidents on.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail'
      deprecated: false
      tags:
        - AccidentStats
  /AirQuality:
    get:
      operationId: AirQuality_Get
      summary: Gets air quality
      description: Gets air quality data feed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      tags:
        - AirQuality
  /BikePoint:
    get:
      operationId: BikePoint_GetAll
      summary: Gets all bike point locations
      description: Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
      tags:
        - BikePoint
  /BikePoint/Search:
    get:
      operationId: BikePoint_Search
      summary: Search for bike stations by name
      description: 'Search for bike stations by their name, a bike point''s name often contains information about the name of the street or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status or occupancy of the BikePoint, to get that information you should retrieve the BikePoint by its id on /BikePoint/id.'
      parameters:
        - name: query
          in: query
          description: The search term e.g. "St. James"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
      tags:
        - BikePoint
  '/BikePoint/{id}':
    get:
      operationId: BikePoint_Get
      summary: Gets the bike point by id.
      description: Gets the bike point with the given id.
      parameters:
        - name: id
          in: path
          description: A bike point id (a list of ids can be obtained from the above BikePoint call)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
      tags:
        - BikePoint
  /Cabwise/search:
    get:
      operationId: Cabwise_Get
      summary: Gets taxis and minicabs information
      description: Gets taxis and minicabs contact information
      parameters:
        - name: lat
          in: query
          description: Latitude
          required: true
          schema:
            type: number
            format: double
        - name: lon
          in: query
          description: Longitude
          required: true
          schema:
            type: number
            format: double
        - name: optype
          in: query
          description: 'Operator Type e.g Minicab, Executive, Limousine'
          schema:
            type: string
        - name: wc
          in: query
          description: Wheelchair accessible
          schema:
            type: string
        - name: radius
          in: query
          description: The radius of the bounding circle in metres
          schema:
            type: number
            format: double
        - name: name
          in: query
          description: Trading name of operating company
          schema:
            type: string
        - name: maxResults
          in: query
          description: An optional parameter to limit the number of results return. Default and maximum is 20.
          schema:
            type: integer
            format: int32
        - name: legacyFormat
          in: query
          description: Legacy Format
          schema:
            type: boolean
        - name: forceXml
          in: query
          description: Force Xml
          schema:
            type: boolean
        - name: twentyFourSevenOnly
          in: query
          description: Twenty Four Seven Only
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      tags:
        - Cabwise
  '/Journey/JourneyResults/{from}/to/{to}':
    get:
      operationId: Journey_JourneyResults
      summary: Perform a Journey Planner search
      description: Perform a Journey Planner search from the parameters specified in simple types
      parameters:
        - name: from
          in: path
          description: 'Origin of the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).'
          required: true
          schema:
            type: string
        - name: to
          in: path
          description: 'Destination of the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).'
          required: true
          schema:
            type: string
        - name: via
          in: query
          description: 'Travel through point on the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).'
          schema:
            type: string
        - name: nationalSearch
          in: query
          description: Does the journey cover stops outside London? eg. "nationalSearch=true"
          schema:
            type: boolean
        - name: date
          in: query
          description: The date must be in yyyyMMdd format
          schema:
            type: string
        - name: time
          in: query
          description: The time must be in HHmm format
          schema:
            type: string
        - name: timeIs
          in: query
          description: 'Does the time given relate to arrival or leaving time? Possible options: "departing" | "arriving"'
          schema:
            type: string
            enum:
              - Arriving
              - Departing
        - name: journeyPreference
          in: query
          description: 'The journey preference eg possible options: "leastinterchange" | "leasttime" | "leastwalking"'
          schema:
            type: string
            enum:
              - LeastInterchange
              - LeastTime
              - LeastWalking
        - name: mode
          in: query
          description: 'The mode must be a comma separated list of modes. eg possible options: "public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle"'
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: accessibilityPreference
          in: query
          description: 'The accessibility preference must be a comma separated list eg. "noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform"'
          schema:
            type: array
            items:
              enum:
                - NoRequirements
                - NoSolidStairs
                - NoEscalators
                - NoElevators
                - StepFreeToVehicle
                - StepFreeToPlatform
              type: string
          explode: true
          style: form
        - name: fromName
          in: query
          description: An optional name to associate with the origin of the journey in the results.
          schema:
            type: string
        - name: toName
          in: query
          description: An optional name to associate with the destination of the journey in the results.
          schema:
            type: string
        - name: viaName
          in: query
          description: An optional name to associate with the via point of the journey in the results.
          schema:
            type: string
        - name: maxTransferMinutes
          in: query
          description: The max walking time in minutes for transfer eg. "120"
          schema:
            type: string
        - name: maxWalkingMinutes
          in: query
          description: The max walking time in minutes for journeys eg. "120"
          schema:
            type: string
        - name: walkingSpeed
          in: query
          description: 'The walking speed. eg possible options: "slow" | "average" | "fast".'
          schema:
            type: string
            enum:
              - Slow
              - Average
              - Fast
        - name: cyclePreference
          in: query
          description: 'The cycle preference. eg possible options: "allTheWay" | "leaveAtStation" | "takeOnTransport" | "cycleHire"'
          schema:
            type: string
            enum:
              - None
              - LeaveAtStation
              - TakeOnTransport
              - AllTheWay
              - CycleHire
        - name: adjustment
          in: query
          description: 'Time adjustment command. eg possible options: "TripFirst" | "TripLast"'
          schema:
            type: string
        - name: bikeProficiency
          in: query
          description: 'A comma separated list of cycling proficiency levels. eg possible options: "easy,moderate,fast"'
          schema:
            type: array
            items:
              enum:
                - Easy
                - Moderate
                - Fast
              type: string
          explode: true
          style: form
        - name: alternativeCycle
          in: query
          description: Option to determine whether to return alternative cycling journey
          schema:
            type: boolean
        - name: alternativeWalking
          in: query
          description: Option to determine whether to return alternative walking journey
          schema:
            type: boolean
        - name: applyHtmlMarkup
          in: query
          description: Flag to determine whether certain text (e.g. walking instructions) should be output with HTML tags or not.
          schema:
            type: boolean
        - name: useMultiModalCall
          in: query
          description: 'A boolean to indicate whether or not to return 3 public transport journeys, a bus journey, a cycle hire journey, a personal cycle journey and a walking journey'
          schema:
            type: boolean
        - name: walkingOptimization
          in: query
          description: A boolean to indicate whether to optimize journeys using walking
          schema:
            type: boolean
        - name: taxiOnlyTrip
          in: query
          description: 'A boolean to indicate whether to return one or more taxi journeys. Note, setting this to true will override "useMultiModalCall".'
          schema:
            type: boolean
        - name: routeBetweenEntrances
          in: query
          description: A boolean to indicate whether public transport routes should include directions between platforms and station entrances.
          schema:
            type: boolean
        - name: useRealTimeLiveArrivals
          in: query
          description: A boolean to indicate if we want to receive real time live arrivals data where available.
          schema:
            type: boolean
        - name: calcOneDirection
          in: query
          description: 'A boolean to make Journey Planner calculate journeys in one temporal direction only. In other words, only calculate journeys after the ''depart'' time, or before the ''arrive'' time. By default, the Journey Planner engine (EFA) calculates journeys in both temporal directions.'
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult'
      deprecated: false
      tags:
        - Journey
  /Journey/Meta/Modes:
    get:
      operationId: Journey_Meta
      summary: List journey planner modes
      description: Gets a list of all of the available journey planner modes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
      deprecated: false
      tags:
        - Journey
  /Line/Meta/DisruptionCategories:
    get:
      operationId: Line_MetaDisruptionCategories
      summary: List disruption categories
      description: Gets a list of valid disruption categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
      tags:
        - Line
  /Line/Meta/Modes:
    get:
      operationId: Line_MetaModes
      summary: List of valid modes
      description: Gets a list of valid modes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
      deprecated: false
      tags:
        - Line
  /Line/Meta/ServiceTypes:
    get:
      operationId: Line_MetaServiceTypes
      summary: List ServiceTypes
      description: Gets a list of valid ServiceTypes to filter on
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
      tags:
        - Line
  /Line/Meta/Severity:
    get:
      operationId: Line_MetaSeverity
      summary: List severity codes
      description: Gets a list of valid severity codes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
      deprecated: false
      tags:
        - Line
  '/Line/Mode/{modes}':
    get:
      operationId: Line_GetByMode
      summary: Gets lines by modes.
      description: Gets lines that serve the given modes.
      parameters:
        - name: modes
          in: path
          description: 'A comma-separated list of modes e.g. tube,dlr'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  '/Line/Mode/{modes}/Disruption':
    get:
      operationId: Line_DisruptionByMode
      summary: Get disruptions for lines by modes.
      description: Get disruptions for all lines of the given modes.
      parameters:
        - name: modes
          in: path
          description: 'A comma-separated list of modes e.g. tube,dlr'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
      deprecated: false
      tags:
        - Line
  '/Line/Mode/{modes}/Route':
    get:
      operationId: Line_RouteByMode
      summary: Gets lines and routes by modes
      description: 'Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route'
      parameters:
        - name: modes
          in: path
          description: 'A comma-separated list of modes e.g. tube,dlr'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: serviceTypes
          in: query
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          schema:
            type: array
            items:
              enum:
                - Regular
                - Night
              type: string
          explode: true
          style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  '/Line/Mode/{modes}/Status':
    get:
      operationId: Line_StatusByMode
      summary: Get line status by modes
      description: Gets the line status of for all lines for the given modes
      parameters:
        - name: modes
          in: path
          description: 'A comma-separated list of modes to filter by. e.g. tube,dlr'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: detail
          in: query
          description: Include details of the disruptions that are causing the line status including the affected stops and routes
          schema:
            type: boolean
        - name: severityLevel
          in: query
          description: 'If specified, ensures that only those line status(es) are returned within the lines that have disruptions with the matching severity level.'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  /Line/Route:
    get:
      operationId: Line_Route
      summary: Get all routes for all lines
      description: 'Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.'
      parameters:
        - name: serviceTypes
          in: query
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          schema:
            type: array
            items:
              enum:
                - Regular
                - Night
              type: string
          explode: true
          style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  '/Line/Search/{query}':
    get:
      operationId: Line_Search
      summary: Search for lines or routes
      description: Search for lines or routes matching the query string
      parameters:
        - name: query
          in: path
          description: Search term e.g victoria
          required: true
          schema:
            type: string
        - name: modes
          in: query
          description: Optionally filter by the specified modes
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: serviceTypes
          in: query
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          schema:
            type: array
            items:
              enum:
                - Regular
                - Night
              type: string
          explode: true
          style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse'
      deprecated: false
      tags:
        - Line
  '/Line/Status/{severity}':
    get:
      operationId: Line_StatusBySeverity
      summary: Gets line status by severity
      description: Gets the line status for all lines with a given severity A list of valid severity codes can be obtained from a call to Line/Meta/Severity
      parameters:
        - name: severity
          in: path
          description: 'The level of severity (eg: a number from 0 to 14)'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  '/Line/{ids}':
    get:
      operationId: Line_Get
      summary: Gets lines by ids.
      description: Gets lines that match the specified line ids.
      parameters:
        - name: ids
          in: path
          description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  '/Line/{ids}/Arrivals/{stopPointId}':
    get:
      operationId: Line_Arrivals
      summary: Get list of arrival predictions by line ids and given stop
      description: Get the list of arrival predictions for given line ids based at the given stop
      parameters:
        - name: ids
          in: path
          description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: stopPointId
          in: path
          description: 'Optional. Id of stop to get arrival predictions for (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          required: true
          schema:
            type: string
        - name: direction
          in: query
          description: 'Optional. The direction of travel. Can be inbound or outbound or all. If left blank, and destinationStopId is set, will default to all'
          schema:
            type: string
            enum:
              - inbound
              - outbound
              - all
        - name: destinationStationId
          in: query
          description: Optional. Id of destination stop
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
      deprecated: false
      tags:
        - Line
  '/Line/{ids}/Disruption':
    get:
      operationId: Line_Disruption
      summary: Get disruptions by line ids
      description: Get disruptions for the given line ids
      parameters:
        - name: ids
          in: path
          description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Disruption'
      deprecated: false
      tags:
        - Line
  '/Line/{ids}/Route':
    get:
      operationId: Line_LineRoutesByIds
      summary: Get routes by line ids
      description: 'Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.'
      parameters:
        - name: ids
          in: path
          description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: serviceTypes
          in: query
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          schema:
            type: array
            items:
              enum:
                - Regular
                - Night
              type: string
          explode: true
          style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  '/Line/{ids}/Status':
    get:
      operationId: Line_StatusByIds
      summary: Gets line status by line ids e.g Minor Delays
      description: Gets the line status of for given line ids e.g Minor Delays
      parameters:
        - name: ids
          in: path
          description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: detail
          in: query
          description: Include details of the disruptions that are causing the line status including the affected stops and routes
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  '/Line/{ids}/Status/{startDate}/to/{endDate}':
    get:
      operationId: Line_Status
      summary: Gets line status by line ids and provided dates e.g Minor Delays
      description: Gets the line status for given line ids during the provided dates e.g Minor Delays
      parameters:
        - name: ids
          in: path
          description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: detail
          in: query
          description: Include details of the disruptions that are causing the line status including the affected stops and routes
          schema:
            type: boolean
        - name: startDate
          in: path
          required: true
          schema:
            type: string
            format: date-time
        - name: endDate
          in: path
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
      tags:
        - Line
  '/Line/{id}/Route/Sequence/{direction}':
    get:
      operationId: Line_RouteSequence
      summary: Gets routes by line id
      description: 'Gets all valid routes for given line id, including the sequence of stops on each route.'
      parameters:
        - name: id
          in: path
          description: A single line id e.g. victoria
          required: true
          schema:
            type: string
        - name: direction
          in: path
          description: The direction of travel. Can be inbound or outbound.
          required: true
          schema:
            type: string
            enum:
              - inbound
              - outbound
              - all
        - name: serviceTypes
          in: query
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          schema:
            type: array
            items:
              enum:
                - Regular
                - Night
              type: string
          explode: true
          style: form
        - name: excludeCrowding
          in: query
          description: That excludes crowding from line disruptions. Can be true or false.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence'
      deprecated: false
      tags:
        - Line
  '/Line/{id}/StopPoints':
    get:
      operationId: Line_StopPoints
      summary: Gets stations that by line id
      description: Gets a list of the stations that serve the given line id
      parameters:
        - name: id
          in: path
          description: A single line id e.g. victoria
          required: true
          schema:
            type: string
        - name: tflOperatedNationalRailStationsOnly
          in: query
          description: 'If the national-rail line is requested, this flag will filter the national rail stations so that only those operated by TfL are returned'
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
      deprecated: false
      tags:
        - Line
  '/Line/{id}/Timetable/{fromStopPointId}':
    get:
      operationId: Line_Timetable
      summary: Gets timetable by station and line
      description: Gets the timetable for a specified station on the give line
      parameters:
        - name: fromStopPointId
          in: path
          description: 'The originating station''s stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A single line id e.g. victoria
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
      deprecated: false
      tags:
        - Line
  '/Line/{id}/Timetable/{fromStopPointId}/to/{toStopPointId}':
    get:
      operationId: Line_TimetableTo
      summary: Gets timetable by station and line and destination
      description: Gets the timetable for a specified station on the give line with specified destination
      parameters:
        - name: fromStopPointId
          in: path
          description: 'The originating station''s stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A single line id e.g. victoria
          required: true
          schema:
            type: string
        - name: toStopPointId
          in: path
          description: The destination stations's Naptan code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse'
      deprecated: false
      tags:
        - Line
  /Mode/ActiveServiceTypes:
    get:
      operationId: Mode_GetActiveServiceTypes
      summary: Returns the service type active for a mode
      description: Returns the service type active for a mode. Currently only supports tube
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType'
      deprecated: false
      tags:
        - Mode
  '/Mode/{mode}/Arrivals':
    get:
      operationId: Mode_Arrivals
      summary: Gets next arrival predictions for stops by mode
      description: Gets the next arrival predictions for all stops of a given mode
      parameters:
        - name: mode
          in: path
          description: 'A mode name e.g. tube, dlr'
          required: true
          schema:
            type: string
        - name: count
          in: query
          description: 'A number of arrivals to return for each stop, -1 to return all available.'
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Prediction'
      deprecated: false
      tags:
        - Mode
  '/Occupancy/BikePoints/{ids}':
    get:
      operationId: Occupancy_GetBikePointsOccupancies
      summary: Get occupancy for bike points.
      description: Get the occupancy for bike points.
      parameters:
        - name: ids
          in: path
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy'
      deprecated: false
      tags:
        - Occupancy
  /Occupancy/CarPark:
    get:
      operationId: Occupancy_GetAll
      summary: Gets occupancy for car parks
      description: Gets the occupancy for all car parks that have occupancy data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
      deprecated: false
      tags:
        - Occupancy
  '/Occupancy/CarPark/{id}':
    get:
      operationId: Occupancy_Get
      summary: Gets occupancy for a car park by id
      description: Gets the occupancy for a car park with a given id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy'
      deprecated: false
      tags:
        - Occupancy
  /Occupancy/ChargeConnector:
    get:
      operationId: Occupancy_GetAllChargeConnectorStatus
      summary: Gets occupancy for charge connectors
      description: Gets the occupancy for all charge connectors
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
      deprecated: false
      tags:
        - Occupancy
  '/Occupancy/ChargeConnector/{ids}':
    get:
      operationId: Occupancy_GetChargeConnectorStatus
      summary: Gets occupancy for charge connectors by id
      description: Gets the occupancy for a charge connectors with a given id (sourceSystemPlaceId)
      parameters:
        - name: ids
          in: path
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy'
      deprecated: false
      tags:
        - Occupancy
  /Place:
    get:
      operationId: Place_GetByGeo
      summary: Gets places that lie within a geographic region
      description: 'Gets the places that lie within a geographic region. The geographic region of interest can either be specified by using a lat/lon geo-point and a radius in metres to return places within the locus defined by the lat/lon of its centre or alternatively, by the use of a bounding box defined by the lat/lon of its north-west and south-east corners. Optionally filters on type and can strip properties for a smaller payload.'
      parameters:
        - name: radius
          in: query
          description: The radius of the bounding circle in metres when only lat/lon are specified.
          schema:
            type: number
            format: double
        - name: categories
          in: query
          description: 'An optional list of comma separated property categories to return in the Place''s property bag. If null or empty, all categories of property are returned. Pass the keyword "none" to return no properties (a valid list of categories can be obtained from the /Place/Meta/categories endpoint)'
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: includeChildren
          in: query
          description: 'Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned'
          schema:
            type: boolean
        - name: type
          in: query
          description: 'Place types to filter on, or null to return all types'
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: activeOnly
          in: query
          description: An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)
          schema:
            type: boolean
        - name: numberOfPlacesToReturn
          in: query
          description: 'If specified, limits the number of returned places equal to the given value'
          schema:
            type: integer
            format: int32
        - name: placeGeo.swLat
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.swLon
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.neLat
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.neLon
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.lat
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.lon
          in: query
          schema:
            type: number
            format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
      deprecated: false
      tags:
        - Place
  '/Place/Address/Streets/{postcode}':
    get:
      operationId: Place_GetStreetsByPostCode
      summary: Gets streets associated with post code
      description: Gets the set of streets associated with a post code.
      parameters:
        - name: postcode
          in: path
          required: true
          schema:
            type: string
            pattern: '^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      tags:
        - Place
  /Place/Meta/Categories:
    get:
      operationId: Place_MetaCategories
      summary: Gets available place property categories and keys.
      description: Gets a list of all of the available place property categories and keys.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
      deprecated: false
      tags:
        - Place
  /Place/Meta/PlaceTypes:
    get:
      operationId: Place_MetaPlaceTypes
      summary: Gets available types of Place.
      description: Gets a list of the available types of Place.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory'
      deprecated: false
      tags:
        - Place
  /Place/Search:
    get:
      operationId: Place_Search
      summary: Gets places that matches the given query
      description: Gets all places that matches the given query
      parameters:
        - name: name
          in: query
          description: 'The name of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their names.'
          required: true
          schema:
            type: string
        - name: types
          in: query
          description: A comma-separated list of the types to return. Max. approx 12 types.
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
      tags:
        - Place
  '/Place/Type/{types}':
    get:
      operationId: Place_GetByType
      summary: Gets places of a given type
      description: Gets all places of a given type
      parameters:
        - name: types
          in: path
          description: A comma-separated list of the types to return. Max. approx 12 types. A valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint.
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: activeOnly
          in: query
          description: An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
      tags:
        - Place
  '/Place/{id}':
    get:
      operationId: Place_Get
      summary: Gets place by given id.
      description: Gets the place with the given id.
      parameters:
        - name: id
          in: path
          description: 'The id of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their ids'
          required: true
          schema:
            type: string
        - name: includeChildren
          in: query
          description: 'Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned'
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
      tags:
        - Place
  '/Place/{type}/At/{lat}/{lon}':
    get:
      operationId: Place_GetAt
      summary: Gets places by type whose geography intersects the given latitude and longitude
      description: Gets any places of the given type whose geography intersects the given latitude and longitude. In practice this means the Place must be polygonal e.g. a BoroughBoundary.
      parameters:
        - name: type
          in: path
          description: The place type (a valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint)
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: lat
          in: path
          required: true
          schema:
            type: number
            format: double
        - name: lon
          in: path
          required: true
          schema:
            type: number
            format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      tags:
        - Place
  '/Place/{type}/overlay/{z}/{lat}/{lon}/{width}/{height}':
    get:
      operationId: Place_GetOverlay
      summary: Gets place overlay for a set of co-ordinates and a given width/height.
      description: Gets the place overlay for a given set of co-ordinates and a given width/height.
      parameters:
        - name: z
          in: path
          description: The zoom level
          required: true
          schema:
            type: integer
            format: int32
        - name: type
          in: path
          description: The place type (a valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint)
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: width
          in: path
          description: The width of the requested overlay.
          required: true
          schema:
            type: integer
            format: int32
        - name: height
          in: path
          description: The height of the requested overlay.
          required: true
          schema:
            type: integer
            format: int32
        - name: lat
          in: path
          required: true
          schema:
            type: number
            format: double
        - name: lon
          in: path
          required: true
          schema:
            type: number
            format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      tags:
        - Place
  /Road:
    get:
      operationId: Road_GetAll
      summary: Gets roads managed by TfL
      description: Gets all roads managed by Transport for London
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
      deprecated: false
      tags:
        - Road
  /Road/Meta/Categories:
    get:
      operationId: Road_MetaCategories
      summary: Gets RoadDisruption categories
      description: Gets a list of valid RoadDisruption categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
      tags:
        - Road
  /Road/Meta/Severities:
    get:
      operationId: Road_MetaSeverities
      summary: Gets RoadDisruption severity codes
      description: Gets a list of valid RoadDisruption severity codes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity'
      deprecated: false
      tags:
        - Road
  '/Road/all/Disruption/{disruptionIds}':
    get:
      operationId: Road_DisruptionById
      summary: Gets active disruptions by disruption Ids.
      description: Gets a list of active disruptions filtered by disruption Ids.
      parameters:
        - name: disruptionIds
          in: path
          description: Comma-separated list of disruption identifiers to filter by.
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: stripContent
          in: query
          description: 'Optional, defaults to false. When true, removes every property/node except for id, point, severity, severityDescription, startDate, endDate, corridor details, location and comments.'
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
      deprecated: false
      tags:
        - Road
  /Road/all/Street/Disruption:
    get:
      operationId: Road_DisruptedStreets
      summary: Gets disrupted streets
      description: 'Gets a list of disrupted streets. If no date filters are provided, current disruptions are returned.'
      parameters:
        - name: startDate
          in: query
          description: 'Optional, the start time to filter on.'
          required: true
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: 'Optional, The end time to filter on.'
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      tags:
        - Road
  '/Road/{ids}':
    get:
      operationId: Road_Get
      summary: Gets road by id (e.g. A1)
      description: Gets the road with the specified id (e.g. A1)
      parameters:
        - name: ids
          in: path
          description: 'Comma-separated list of road identifiers e.g. "A406, A2" (a full list of supported road identifiers can be found at the /Road/ endpoint)'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
      deprecated: false
      tags:
        - Road
  '/Road/{ids}/Disruption':
    get:
      operationId: Road_Disruption
      summary: Get active disruptions by road ids
      description: 'Get active disruptions, filtered by road ids'
      parameters:
        - name: ids
          in: path
          description: 'Comma-separated list of road identifiers e.g. "A406, A2" use all for all to ignore id filter (a full list of supported road identifiers can be found at the /Road/ endpoint)'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: stripContent
          in: query
          description: 'Optional, defaults to false. When true, removes every property/node except for id, point, severity, severityDescription, startDate, endDate, corridor details, location, comments and streets'
          schema:
            type: boolean
        - name: severities
          in: query
          description: an optional list of Severity names to filter on (a valid list of severities can be obtained from the /Road/Meta/severities endpoint)
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: categories
          in: query
          description: an optional list of category names to filter on (a valid list of categories can be obtained from the /Road/Meta/categories endpoint)
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: closures
          in: query
          description: 'Optional, defaults to true. When true, always includes disruptions that have road closures, regardless of the severity filter. When false, the severity filter works as normal.'
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/geo+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption'
      deprecated: false
      tags:
        - Road
  '/Road/{ids}/Status':
    get:
      operationId: Road_Status
      summary: Gets roads with the status aggregated by date range
      description: 'Gets the specified roads with the status aggregated over the date range specified, or now until the end of today if no dates are passed.'
      parameters:
        - name: ids
          in: path
          description: 'Comma-separated list of road identifiers e.g. "A406, A2" or use "all" to ignore id filter (a full list of supported road identifiers can be found at the /Road/ endpoint)'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: dateRangeNullable.startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: dateRangeNullable.endDate
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor'
      deprecated: false
      tags:
        - Road
  /Search:
    get:
      operationId: Search_Get
      summary: Search the site for occurrences of the query string
      description: 'Search the site for occurrences of the query string. The maximum number of results returned is equal to the maximum page size of 100. To return subsequent pages, use the paginated overload.'
      parameters:
        - name: query
          in: query
          description: The search query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
      deprecated: false
      tags:
        - Search
  /Search/BusSchedules:
    get:
      operationId: Search_BusSchedules
      summary: Searches bus schedules folder by bus number.
      description: Searches the bus schedules folder on S3 for a given bus number.
      parameters:
        - name: query
          in: query
          description: The search query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse'
      deprecated: false
      tags:
        - Search
  /Search/Meta/Categories:
    get:
      operationId: Search_MetaCategories
      summary: Gets search categories
      description: Gets the available search categories.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
      tags:
        - Search
  /Search/Meta/SearchProviders:
    get:
      operationId: Search_MetaSearchProviders
      summary: Gets searchProvider names
      description: Gets the available searchProvider names.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
      tags:
        - Search
  /Search/Meta/Sorts:
    get:
      operationId: Search_MetaSorts
      summary: Gets sorting options
      description: Gets the available sorting options.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
      tags:
        - Search
  /StopPoint:
    get:
      operationId: StopPoint_GetByGeoPoint
      summary: Gets StopPoints within {radius} and specified criteria
      description: 'Gets a list of StopPoints within {radius} by the specified criteria'
      parameters:
        - name: stopTypes
          in: query
          description: a list of stopTypes that should be returned (a list of valid stop types can be obtained from the StopPoint/meta/stoptypes endpoint)
          required: true
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: radius
          in: query
          description: 'the radius of the bounding circle in metres (default : 200)'
          schema:
            type: integer
            format: int32
        - name: useStopPointHierarchy
          in: query
          description: Re-arrange the output into a parent/child hierarchy
          schema:
            type: boolean
        - name: modes
          in: query
          description: 'the list of modes to search (comma separated mode names e.g. tube,dlr)'
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: categories
          in: query
          description: 'an optional list of comma separated property categories to return in the StopPoint''s property bag. If null or empty, all categories of property are returned. Pass the keyword "none" to return no properties (a valid list of categories can be obtained from the /StopPoint/Meta/categories endpoint)'
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: returnLines
          in: query
          description: true to return the lines that each stop point serves as a nested resource
          schema:
            type: boolean
        - name: location.lat
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: location.lon
          in: query
          required: true
          schema:
            type: number
            format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse'
      deprecated: false
      tags:
        - StopPoint
  /StopPoint/Meta/Categories:
    get:
      operationId: StopPoint_MetaCategories
      summary: Gets StopPoint information categories
      description: Gets the list of available StopPoint additional information categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory'
      deprecated: false
      tags:
        - StopPoint
  /StopPoint/Meta/Modes:
    get:
      operationId: StopPoint_MetaModes
      summary: Gets available StopPoint modes
      description: Gets the list of available StopPoint modes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
      deprecated: false
      tags:
        - StopPoint
  /StopPoint/Meta/StopTypes:
    get:
      operationId: StopPoint_MetaStopTypes
      summary: Gets available StopPoint types
      description: Gets the list of available StopPoint types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
      tags:
        - StopPoint
  '/StopPoint/Mode/{modes}':
    get:
      operationId: StopPoint_GetByMode
      summary: Gets StopPoints by modes
      description: Gets a list of StopPoints filtered by the modes available at that StopPoint.
      parameters:
        - name: modes
          in: path
          description: 'A comma-seperated list of modes e.g. tube,dlr'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: page
          in: query
          description: 'The data set page to return. Page 1 equates to the first 1000 stop points, page 2 equates to 1001-2000 etc. Must be entered for bus mode as data set is too large.'
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse'
      deprecated: false
      tags:
        - StopPoint
  '/StopPoint/Mode/{modes}/Disruption':
    get:
      operationId: StopPoint_DisruptionByMode
      summary: Gets disrupted stop points by modes
      description: Gets a distinct list of disrupted stop points for the given modes
      parameters:
        - name: modes
          in: path
          description: 'A comma-seperated list of modes e.g. tube,dlr'
          required: true
          schema:
            type: array
            items:
              type: string
          explode: false
          style: simple
        - name: includeRouteBlockedStops
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint'
            text/xml:
              schema:
                type: array
                items:
[...]
